body{
	margin: 0;
	font-family: 'Helvetica', 'Arial', sans-serif;
	font-size: 20px;
	line-height: 30px;
}

header{
	background-color: #0A6DF3;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

h1, h2{
	font-family: 'Arimo', sans-serif;
	font-size: 60px;
}

/*header styles*/
/*hi*/

header h1{
	color: white;
}

header img{
	border-radius: 170px;
	width: 300px;
	border: 20px solid #041225;
}

main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	width: 800px;
	max-width: 100%;
}

main h2{
	font-size: 40px;
	color: #0A6DF3;
	margin: 40px 0 10px;
}

a{
	color: #0A6DF3;
}

a:hover{
	background-color: #483a94;
	color: white;
}

footer{
	background-color: #0A6DF3;
	text-align: center;
	color: white;
	padding: 50px;
}

footer p{
	margin: 0;
}

footer a{
	color: white;
}

footer a:hover{
	opacity: 0.5;
	background-color: transparent;
}

p.caption{
	color: grey;
	font-style: italic;
	margin-top: 0;
}








